@font-face {
  font-family: "Dancing Script";
  src: url(../fonts/dancingscript.ttf);
}

@font-face {
  font-family: "Indie Flower";
  src: url(../fonts/indieflower.ttf);
}

@font-face {
  font-family: "Abril Fatface";
  src: url(../fonts/abrilfatface.ttf);
}

@font-face {
  font-family: "Comic Sans MS";
  src: url(../fonts/comicsansms/comic.ttf);
}

@font-face{
  font-family:'Calibri';
  src:url(../fonts/calibri/calibri.ttf);
}

@font-face{
  font-family:'Cursed Timer';
  src:url(../fonts/cursedtimer.ttf);
}

:root{
  --primaryDark:#26001b;
  --secondaryDark:#810034;
  --primaryLight:#fff600;
  --secondaryLight:#ff005c;
  --white:#fff;
  --black:#000;
  --rangeBgColor:#FF96AB;
}

body{
  margin:30px;
  padding:0px;
  background-image: url(../Resources/background.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: 'Calibri';
}

div{
  margin:0;
  padding:0;
}

a{
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0px;
}

::-webkit-scrollbar {
  width: 1vw;
}

::-webkit-scrollbar-track {
  background: var(--primaryDark);
}

::-webkit-scrollbar-thumb {
  background: #aa0029;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondaryDark);
}

input[type=range]{
  height: 39px;
  -webkit-appearance: none;
  width: 100%;
}

input[type=range]:focus{
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track{
  width: 100%;
  height: 12px;
  cursor: pointer;
  animate: 0.2s;
  background: var(--rangeBgColor);
  border-radius: 4px;
  border: 2px solid var(--primaryDark);
}

input[type=range]::-webkit-slider-thumb{
  border: 2px solid var(--primaryDark);
  height: 30px;
  width: 30px;
  border-radius: 0px;
  background: var(--rangeBgColor);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -11px;
}

input[type=range]:focus::-webkit-slider-runnable-track{
  background: var(--rangeBgColor);
}

input[type=range]::-moz-range-track{
  width: 100%;
  height: 12px;
  cursor: pointer;
  animate: 0.2s;
  background: var(--rangeBgColor);
  border-radius: 4px;
  border: 2px solid var(--primaryDark);
}

input[type=range]::-moz-range-thumb{
  border: 2px solid var(--primaryDark);
  height: 30px;
  width: 30px;
  border-radius: 0px;
  background: var(--rangeBgColor);
  cursor: pointer;
}

input[type=range]::-ms-track{
  width: 100%;
  height: 12px;
  cursor: pointer;
  animate: 0.2s;
}

input[type=range]::-ms-fill-lower{
  background: var(--rangeBgColor);
  border: 2px solid var(--primaryDark);
  border-radius: 8px;
}

input[type=range]::-ms-fill-upper{
  background: var(--rangeBgColor);
  border: 2px solid var(--primaryDark);
  border-radius: 8px;
}

input[type=range]::-ms-thumb{
  margin-top: 1px;
  border: 2px solid var(--primaryDark);
  height: 30px;
  width: 30px;
  border-radius: 0px;
  background: var(--rangeBgColor);
  cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower{
  background: var(--rangeBgColor);
}

input[type=range]:focus::-ms-fill-upper{
  background: var(--rangeBgColor);
}

input[type=range]{
  background-color: transparent;
}
